img {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
.img2 {
  animation-name: rotate-x;
}
.img1 {
  animation-name: rotate-y;
}

@keyframes rotate-x {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(1000px) rotate(360deg);
    border-radius: 50%;
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes rotate-y {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(500px) rotate(360deg);
    border-radius: 50%;
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
