body {
  font-size: 25px;
}
img {
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 400px) {
  body {
    background-color: yellow;
    font-weight: 800;
  }
}
@media screen and (min-width: 401px) and (max-width: 800px) {
  body {
    background-color: aqua;
  }
  .part {
    display: flex;
    /* flex-direction: row; */
    gap: 30px;
    justify-content: center;
    font-weight: 800;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  body {
    background-color: green;
    display: flex;
    justify-content: center;
  }
  .whole {
    display: flex;
    gap: 60px;
  }
  .part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-weight: 1000;
  }
}
@media screen and (min-width: 1201px) {
  body {
    background-color: orange;
  }
  .whole {
    display: flex;
    justify-content: space-between;
  }
  .part {
    display: flex;
    gap: 100px;
    align-items: center;
    font-weight: 1000;
  }
}
