.div1 {
  width: auto;
  height: 300px;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
}
.p {
  border: 2px solid black;
  padding: 10px;
  padding-top: 5px;
  font-size: 40px;
}
.p1 {
  background-color: cyan;
  flex: 1 2 500px;
  text-align: center;
}
.p2 {
  background-color: darkcyan;
  flex: 1 2 300px;
  text-align: center;
}
.p3 {
  background-color: darkgreen;
  flex: 1 2 300px;
  text-align: center;
}
.p4 {
  background-color: darkkhaki;

  flex-grow: 1;
  text-align: center;
}
